{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <form action="/account" method="post">
        <div class="mb-3">
            Change your password:
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="passwordreplay" placeholder="Repete New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}